@media(max-width: 760px) {
   .header_list {
      flex-direction: column;
      gap: 0;
   }

   .header_list li {
      padding: 0;

      a {
         font-size: 24px;
      }
   }

   .banner {
      flex-direction: column;
      gap: 24px;
   }

   .banner_img,
   .banner_content {
      width: 100%;
   }

   .banner_content {
      padding: 4rem 1.5rem;

      ul {
         gap: 7px;
         font-size: 20px;
         margin-bottom: 4px;
      }
   }

   body>.contact {
      display: none;
   }

}

@media(max-width: 680px) {

   .content,
   .banner_content {
      padding: 4rem 1.5rem;

      & ul {
         font-size: 16px;
      }
   }



   .header_list li a {
      font-size: 18px;
   }
}